body {

background-color:blue;

}

h1 {

font-family: arial black;
font-size: 70px;
text-align: center;
color:white;
margin-bottom: 5px;

}

h2 {

font-family: arial black;
color:white;

}

p {

font-family: verdana;
color:white;

}

h3 {

font-family: helvetica;
color:white;

}